.search {
    grid-column-start: 2;
    padding: 10px;
}
input {
    background-color: rgb(205, 245, 245);
    width: 250px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    padding: 5px;
}